<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuhao.android.oksocket"
    >
    <!-- android:sharedUserId="android.uid.system" -->
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- GPS定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ComplexDemoActivity">

        </activity>

        <activity android:name=".SimpleDemoActivity">

        </activity>

        <activity android:name=".DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".wzb.service.CoreService"
            android:exported="true"/>
        <service android:name=".wzb.service.LkLongRunningService"/>
        <service android:name=".wzb.service.UdLongRunningService"/>
        <receiver android:name=".wzb.receiver.LkAlarmReceiver" />
        <receiver android:name=".wzb.receiver.CommonReceiver">
            <intent-filter>
                <action android:name="com.android.custom.oksocket_reboot"/>
                <action android:name="com.android.cutom.tracker_sos"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".wzb.receiver.ReConnectAlarmReceiver"/>
        <receiver android:name=".wzb.receiver.UdAlarmReceiver"/>

        <service android:name=".wzb.camera.CameraService"/>
    </application>

</manifest>